@font-face {
    font-family: Ubuntu;
    src: url('../Assets/Fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

body {
    background-color: #273040;
    display: flex;
    flex-direction: column;
    color: #ffffff;

}

.header {
    font-family: Ubuntu;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.board {
    position: relative;
    min-width: 55vh;
    min-height: 55vh;
    max-width: 55vh;
    max-height: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    background-color: #E7F0FE;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.board::before,
.board::after {
    content: "";
    position: absolute;
    max-width: 2%;
    max-height: 2%;
    min-width: 2%;
    min-height: 2%;
    border: 1px solid #000000;
    background-color: #E7F0FE;
    border: 1px solid #000000;
    margin: -2%;
}

.board::before {
    top: 0;
    left: 0;
    border: 2px solid #000000;
    margin: -2%;
}

.board::after {
    bottom: 0;
    right: 0;
    border: 2px solid #000000;
}

.board .corner-top-right,
.board .corner-bottom-left {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #E7F0FE;
    border: 2px solid #000000;
}

.board .corner-top-right {
    top: 0;
    right: 0;
    margin: -2%;
}

.board .corner-bottom-left {
    bottom: 0;
    left: 0;
    margin: -2%;
}

.small-div {
    border: 1px solid black;
    padding: 10%;
}

.circle {
    width: 80%;
    height: 80%;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #273040;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 35vw;
    font-size: x-large;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #E7F0FE;
    border-radius: 30px;
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #273040;
    border: 1px solid #E7F0FE;
    color: #ffffff;
    border-radius: 20px;
}

button:hover {
    background-color: #E7F0FE;
    color: #273040;
    border-color: #273040;
}

.footer {
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.footer h1 {
    font-family: Ubuntu;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.footer .rules ul li {
    font-family: 'inter';
    font-weight: 500;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        margin-left: 0px;
        margin-right: 0px;
        font-size: small;
    }

    .board {
        min-width: 35vh;
        min-height: 35vh;
        max-width: 35vh;
        max-height: 35vh;
    }

    .modal-content {
        max-width: 80vw;
    }

}